<h1>New Workout</h1>
<%= form_with(model: @workout, url: workouts_path) do |form| %>
  <%= form.label :length %>
  <%= form.number_field :length %>

  <%= form.label :calories_burned %>
  <%= form.number_field :calories_burned %>

  <%= form.label :exercises %>
  <%= form.text_area :exercises %>

  <%= form.label :difficulty %>
  <%= form.select :difficulty, options_for_select(["easy", "standard", "hard"]) %>

  <%= form.label :weight_after %>
  <%= form.number_field :weight_after %>

  <%= form.submit 'Create Workout' %>
<% end %>