<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.email_field :email, autofocus: true, placeholder: "Email" %><br>

  <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %><br>

  <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password" %><br>

  <!-- Profile fields -->
  <%= f.fields_for :profile do |profile_fields| %>
    <%= profile_fields.text_field :name, placeholder: "Name" %><br>
    <%= profile_fields.number_field :age, placeholder: "Age" %><br>
    <%= profile_fields.number_field :height, step: "0.01", placeholder: "Height" %><br>
    <%= profile_fields.number_field :weight, step: "0.01", placeholder: "Weight" %><br>
    <%= profile_fields.text_field :sex, placeholder: "Sex" %><br>
    <%= profile_fields.number_field :target_weight, step: "0.01", placeholder: "Target Weight" %><br>
    <%= profile_fields.date_field :target_date, placeholder: "Target Date" %><br>
  <% end %>

  <%= f.submit "Sign up" %>
<% end %>
